.header {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
    color: #00b5b5;
}

.logo img {
    max-width: 50px;
    height: auto;
}

.collapse .nav-link {
    color: #000;
    margin-bottom: 0.5rem;
}

.collapse .nav-link:hover,
.collapse .nav-link.active {
    color: #00b5b5;
}
.custom-heading {
    color: #ffffff; /* White color */
    font-family: 'Poppins', sans-serif; /* Modern font */
    font-weight: bold; /* Makes the text stand out */
    text-transform: uppercase; /* Optional: Converts text to uppercase */
    letter-spacing: 1px; /* Optional: Adds slight spacing between letters */
    margin: 0; /* Ensures alignment */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5); /* Makes the border white and slightly transparent */
}

.navbar-toggler .bi-list {
    color: #ffffff; /* Makes the icon white */
}

